body{
    background-color: rgb(196, 200, 159);
}





/*-------------------------------------------*/
/*--------Inicio foto y presentacion---------*/

.sobre-mi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    color: black;
}

.presentacion{
    font-family: 'Mynerve', cursive;
    font-size: 70px;
    color: #59CA76;
    text-align: left;
}

.extras{
    font-size: 30px;
}

.hola-soy {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
}





/*-------------------------------------------*/
/*----------Datos nombre, fecha, etc---------*/

.datos-mi{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(143, 97, 151, .6);
    padding: 20px;
    margin: 5%;
    float: right;
}

.redes-sociales{
    height: 50px;
    padding: 5px;
}

.informacion{
    font-size: 20px;
}





/*-------------------------------------------*/
/*-----------------Educacion-----------------*/

.escuelas{
    margin: 5%;
    border-radius: 20px;
    background-color: rgba(10, 163, 182, .4);
    display: flex;
    flex-direction: column;
}

.texto{
    font-size: 20px;
    margin: 30px;
}

.nombre{
    font-size: 30px;
}





/*-------------------------------------------*/
/*---------------Varias fotos----------------*/

.container-main{
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    width: 50%;
    padding: 15px;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
    width: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}





/*-------------------------------------------*/
/*-------------------Boton-------------------*/

.container-descargar{
    text-align: center;
    margin: 50px;
}

#cta-button {
    text-align: center !important;
    background-color: #d95430;
    border-radius: 300px;
    -webkit-box-shadow: 0 3px 0 0 #b13f21;
    -moz-box-shadow: 0 3px 0 0 #b13f21;
    box-shadow: 0 3px 0 0 #b13f21;
    position: relative;
    -webkit-transition: .1s background-color linear;
    -moz-transition: .1s background-color linear;
    -o-transition: .1s background-color linear;
    transition: .1s background-color linear;
    padding: 25px 46px;
    color: #fff;
    border-color: #d34b27;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: normal;
    width: 220px;
}


#cta-button:hover {
    background-color: #fff;
    border-radius: 300px;
    -webkit-box-shadow: 0 5px 0 0 #b13f21;
    -moz-box-shadow: 0 5px 0 0 #b13f21;
    box-shadow: 0 5px 0 0 #b13f21;
    position: relative;
    -webkit-transition: .1s background-color linear;
    -moz-transition: .1s background-color linear;
    -o-transition: .1s background-color linear;
    transition: .1s background-color linear;
    color: #d95430;
}





/*-------------------------------------------*/
/*-------------Cambiando diseños-------------*/

@media (max-width:1500px) {
    .sobre-mi{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    .ricardo{
        width: 300px;
    }
}

@media (max-width:480px){
    .presentacion{
        display: flex;
        flex-direction: row;
    }

    .datos-mi{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    }

    .redes-sociales{
    display: flex;
    flex-direction: row;
    }

    .escuelas{
    display: flex;
    flex-direction: column;
    }

    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}